{% extends 'layout.html' %}
{% block titulo %} Venta {% endblock %}

{% block body %}

<div class="container p-5">
    <form action="agregar_item" method="post">
        <div class="mb-3 row">
            <div class="form-group col-md-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Código</span>
                    <input type="text" name="codigo" id="codigo" class="form-control"
                        placeholder="Ingrese el código del artículo" required>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Cantidad</span>
                    <input type="number" name="cantidad" id="cantidad" class="form-control"
                        placeholder="Ingrese la cantidad" required>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid table-responsive-sm">
    <table class="table table-secondary">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Detalle</th>
                <th>Categoría</th>
                <th>Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if items != None %}
            {% for item in items %}
            <tr>
                <td>{{item.codigo}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.detalle}}</td>
                <td>{{item.categoria}}</td>
                <td>$ {{item.precio}}</td>
                <td>{{item.cantidad}}</td>
                <td>$ {{item.total}}</td>
                <td>
                    <form action="eliminar_item" method="post">
                        <input type="hidden" name="item" value="{{item.id}}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total venta: ${{totalVenta}}</td>
                <td>
                    <form action="generarVenta" method="post">
                        <button type="submit" class="btn btn-success">Generar Venta</button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}